<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>512064433463-3mf20qp6hagqggqpdr7mrjbfqj52o262.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.512064433463-3mf20qp6hagqggqpdr7mrjbfqj52o262</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>512064433463-ampf3tondeqv6iosgvm9ijl1hk0orf65.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC_US7N72c8tUh4Is84KRoiHLgdV8_D_Vw</string>
	<key>GCM_SENDER_ID</key>
	<string>512064433463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bladigo.bladigocustomer</string>
	<key>PROJECT_ID</key>
	<string>bladigo</string>
	<key>STORAGE_BUCKET</key>
	<string>bladigo.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:512064433463:ios:f47cb97c2fddb7a933feb2</string>
</dict>
</plist>